
.brand .link_shopnow{
  @include shopNowButton();
  color: $color-main;
  background-color: $color-secondary;
  display: inline-block;
  margin-top: 40px;
  padding: 10px 40px;

  &:hover{
    transform: scale(1.1);
  }

  @media (min-width: 768px) {
    margin: 20px 0px;
  }
}

.campaign .link_shopnow{
  @include shopNowButton();
  color: $color-secondary;
  background-color: $color-main;
  margin-top: 5px;
}

.hero .link_scroll{
  @include scrollLink();
  padding: 15px 14px;
  margin-top: 20px;
  margin-bottom: 40px;
  @media (min-width: 768px){
    margin-bottom: 0px;
  }
}

.campaign .link_scroll{
  @include scrollLink();
  padding: 12px 14px;
  position: absolute;
  bottom: -4%;

  @media (min-width: 768px){
    bottom: -7%;
  }
}

.footer_socials-links,
.nav_menu-links{
  color: $color-secondary;
  font-family: $font-main;
  text-decoration: none;
  text-transform: uppercase;
}