
.brand .link_shopnow{
  @include shopNowButton();
  color: $color-main;
  background-color: $color-secondary;
  display: inline-block;
  margin-top: 40px;
  padding: 10px 40px;
  @media (min-width: 768px) {
    margin: 20px 0px;
  }
}

.campaign .link_shopnow{
  @include shopNowButton();
  color: $color-secondary;
  background-color: $color-main;
  display: inline-block;
  max-width: 200px;
  margin: 0% 25%;
  @media (min-width: 768px) {
     max-height: 40px;
     grid-column: 1/4;
     margin: 0% 38%;
  }
  @media (min-width: 1280px){
    margin: 0% 40%;
    max-width: 400px;
    min-height: 50px;
  }
}

.hero .link_scroll{
  @include scrollLink();
  margin-top: 20px;
}

.campaign .link_scroll{
  @include scrollLink();
  position: absolute;
  bottom: -4%;
  right: 42%;
  @media (min-width: 768px){
    right: 47%;
  }
  @media (min-width: 1280px){
    right: 48%;
  }
}

.footer_socials-links,
.nav_menu-links{
  color: $color-secondary;
  font-family: $font-main;
  text-decoration: none;
  text-transform: uppercase;
  
}