
.brand .link_shopnow{
  @include shopNowButton();
  color: $color-main;
  background-color: $color-secondary;
  margin: 0px 40px;
  @media (min-width: 768px) {
     max-height: 50px;
     grid-column: 1/4;
     margin: 0% 33%;
  }
}

.campaign .link_shopnow{
  @include shopNowButton();
  color: $color-secondary;
  background-color: $color-main;
  margin: 0px 40px;
  @media (min-width: 768px) {
     max-height: 50px;
     grid-column: 1/4;
     margin: 0% 35%;
     padding: 5px 10px;
  }
}

.hero .link_scroll{
  @include scrollLink();
  margin-top: 20px;
}

.campaign .link_scroll{
  @include scrollLink();
  position: absolute;
  bottom: -4%;
  right: 48%;
}

.footer_socials-links,
.nav_menu-links{
  color: $color-secondary;
  font-family: $font-main;
  text-decoration: none;
  text-transform: uppercase;
  
}