@mixin robotoSlabBold() {
  font-family: "Roboto Slab";
  font-weight: bold;
}

@mixin scrollLink(){
  background-color: $color-secondary;
  border-radius: 50%;
}

@mixin shopNowButton() {
border: 2px solid $color-main;
border-radius: 23px;
padding: 12px 25px;
font-family: "Roboto";
text-decoration: none;
font-weight: 600;
font-size: 20px;
}

@mixin categoryImg(){
  max-width: 150px;
  margin: 0px 20px;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@mixin lineHeight30(){
  line-height: 30px;
}