@mixin robotoSlabBold() {
  font-family: "Roboto Slab";
  font-weight: bold;
}

@mixin scrollLink(){
  background-color: $color-secondary;
  padding: 12px;
  border-radius: 50%;
}

@mixin shopNowForm() {
border: 2px solid $color-main;
padding: 10px 40px;
border-radius: 22.5px;
}

@mixin shopNowText(){
  font-family: "Roboto";
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}


