.brand{
    padding: 30px 25px 30px 15px;
    @media (min-width: 768px) {
        padding: 30px 40px 50px 30px;
    }
    @media (min-width: 1280px){
        padding: 30px 250px 50px 250px;
    }

    &_subtitle{
        color: $color-main;
        font-family: $font-main;
        font-size: 14px;
        text-transform: uppercase;
        @media (min-width: 768px) {
            font-size: 16px;
        }
    }

    & h2{
        @include robotoSlabBold();
        text-transform: uppercase;
        font-size: 22px;
        padding: 10px 0px;
        @media (min-width: 768px) {
            font-size: 32px;
        }
        
    }

    &_text{
        color: $color-complementary;
        font-family: $font-main;
        font-size: 18px;
        line-height: 1.67;
        @media (min-width: 768px) {
          font-size: 20px;
        }
    }

    & .shopnow{
        margin-top: 40px;
        @include shopNowForm();
        background-color: $color-secondary;
        @media (min-width: 768px) {
            margin-top: 20px;
        }
    }
}