.campaign{
    background-color: $color-soft;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 10px 10px 30px 10px;
    position: relative;
    @media (min-width: 768px) {
        padding: 10px 20px 40px 20px;
    }

    &_title{
        @include robotoSlabBold();
        text-align: center;
        @media (min-width: 768px) {
           
        }

        & h3{
            color: $color-complementary;
            font-size: 12px;
            line-height: 30px;
        }
        & h2{
            text-transform: uppercase;
            font-size: 20px;
            @media (min-width: 768px) {
                font-size: 28px;
            }
        }
    }

    &_articles{
        
        @media (min-width: 768px) {
            display: flex;
            gap: 90px;
            margin: 10px 0px;
        }
    }

}

.category {
        
    & img{
        @include categoryImg();
        margin-bottom: 5px;
    }

    & h3{
        @include robotoSlabBold();
        font-size: 14px;
        @media (min-width: 768px) {
            font-size: 18px;
        }
    }
}