.campaign{
    background-color: $color-soft;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 180px 180px 180px;
    gap: 10px;
    text-align: center;
    padding: 10px;
    position: relative;

    &_title{
        @include robotoSlabBold();
        text-align: center;
        & h3{
            color: $color-complementary;
            font-size: 12px;
            line-height: 30px;
        }
        & h2{
            text-transform: uppercase;
            font-size: 20px;
        }
    }

    & .category {
        
        & img{
            @include categoryImg();
        }

        & h3{
            @include robotoSlabBold();
            font-size: 14px;
        }

    }

    & .shopnow{
        margin: 0px 40px;
        @include shopNowForm();
        background-color: $color-main;
    }

}