
.footer{
  background-color: $color-complementary;
  color: $color-secondary;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 15px;
  justify-items:center;
  padding: 50px 20px;
 
  @media (min-width:768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  & .nav_menu, &_socials{
    @include lineHeight30();
    justify-items:center;
    align-content: center;

    @media (min-width:768px) {
      justify-items: baseline;
      align-content: baseline;
    }
  }

  &_copy{
    @include lineHeight30();
    justify-items: center;
    align-content: center;

    @media (min-width:768px) {
      grid-column: 1/2;
      grid-row: 1/2;
      justify-items: baseline;
      align-content: baseline;
    }

    &-logo i{
      color: $color-main; 
    }
  }
}
