.hero{
    background-image: url("../images/cover.jpeg");
    background-repeat: no-repeat;
    background-position: right 18% bottom 0%;
    background-size: cover;
    height: 100vh;
    color: $color-secondary;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 40px;

    & h1{
        font-family: $font-secondary;
        font-weight: bold;
        font-size: 40px;
        text-transform: uppercase;
        line-height: 60px;
    
        @media (min-width: 768px) {
            font-size: 75px;
            line-height: 100px;
        }
        @media (min-width: 1080px){
            margin: 0px 800px;
        }
    }

    & p{
        font-family: $font-main;
        font-size: 20px;
        line-height: 30px;
        padding: 20px 30px 0px 30px;

        @media (min-width: 768px){
            font-size: 28px;
            padding: 0px 200px 0px 200px;
            line-height: 36px;
        }
    }

    & .link_scroll img{
        vertical-align: middle;
    }
}
