.hero{
    background-image: url("../images/cover.jpeg");
    background-repeat: no-repeat;
    background-position: right 18% bottom 0%;
    background-size: cover;
    height: 100vh;
    color: $color-secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;

    & h1{
        font-family: $font-secondary;
        font-weight: bold;
        font-size: 30px;
        text-transform: uppercase;
        line-height: 50px;
        padding-top: 310px;
        padding-bottom: 10px;
        @media (min-width: 768px) {
            font-size: 75px;
            line-height: 100px;
        }
        @media (min-width: 1280px){
            margin: 0px 500px;
        }
    }

    & p{
        font-family: $font-main;
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 10px;
        @media (min-width: 768px){
            font-size: 24px;
            margin: 0px 200px;
            line-height: 28px;
        }
    }

    & .link_scroll img{
        vertical-align: middle;
    }
}
