<section class="campaign" id="bottom">
    <div class="campaign_title">
        <h3>¡Prepáralos con tus marcas favoritas!</h3>
        <h2>Vuelta al cole</h2>
    </div>
    <load src="/partials/category.html" imgCategory="./images/lpbts-mod05-img01-desk.png" imgdesCategory="imagen de niña con una mochila" titleCategory="Mochilas escolares"/>
    <load src="/partials/category.html" imgCategory="./images/lpbts-mod05-img04-mob.png" imgdesCategory="imagen de niño con un estuche en la mano y lapices de colores por los aires" titleCategory="Estuches"/>
    <load src="/partials/category.html" imgCategory="./images/lpbts-mod05-img03-mob.png" imgdesCategory="imagen de niña con una bolsa de deporte y una portería en el fondo" titleCategory="Bolsas de deporte"/>
    <load src="/partials/button.html" titleShopNow="Empezar ahora"/>
    <a href="#top"><img src="./images/ico-arrow.svg" alt="icono subir hasta arriba"></a>
</section>