<footer class="footer">
    <load src="/partials/menu.html" />
    <ul class="footer_socials">
        <li><a href="https://adalab.es/" class="footer_socials-links" target="_blank">Twitter</a></li>
        <li><a href="https://adalab.es/" class="footer_socials-links" target="_blank">Instagram</a></li>
        <li><a href="https://adalab.es/" class="footer_socials-links" target="_blank">Youtube</a></li>
    </ul>

    <div class="footer_copy">
        <div class="footer_copy-date">&copy;2023</div>
        <div class="footer_copy-logo">we <i class="fa-solid fa-heart"></i> run</div>
    </div>
</footer>

